Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Add files via upload
  framework/test/mocha/unit/modules/chain/transaction_pool/sort.js
  framework/test/mocha/unit/modules/chain/transaction_pool/transaction_pool.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/transaction_pool/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/transactions/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/transactions/compose_transaction_steps.js
  framework/test/mocha/unit/modules/chain/transactions/transactions_handlers.js
  framework/test/mocha/unit/modules/chain/transactions/votes.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/transactions/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/transport/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/transport/broadcaster.js
  framework/test/mocha/unit/modules/chain/transport/transport.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/transport/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/utils/config.js
  framework/test/mocha/unit/modules/chain/utils/jobs_queue.js
  framework/test/mocha/unit/modules/chain/utils/regexp_tester.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/utils/a.md
Due: prettier --write

Create a.d
  framework/test/mocha/unit/modules/http_api/controllers/a.d
Due: none

Add files via upload
  framework/test/mocha/unit/modules/http_api/controllers/blocks.js
  framework/test/mocha/unit/modules/http_api/controllers/delegates.js
  framework/test/mocha/unit/modules/http_api/controllers/node.js
  framework/test/mocha/unit/modules/http_api/controllers/signatures.js
  framework/test/mocha/unit/modules/http_api/controllers/transactions.js
Due: prettier --write, eslint

Delete a.d
  framework/test/mocha/unit/modules/http_api/controllers/a.d
Due: none

Add files via upload
  framework/test/mocha/unit/modules/http_api/api_error.js
  framework/test/mocha/unit/modules/http_api/http_api.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/unit/modules/http_api/fittings/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/http_api/fittings/lisk_cache.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_compression.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_cors.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_error_handler.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_params_validator.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_request_limit.js
  framework/test/mocha/unit/modules/http_api/fittings/lisk_response_formatter.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/unit/modules/http_api/helpers/a.md
Due: prettier --write

Delete a.md
  framework/test/mocha/unit/modules/http_api/fittings/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/http_api/helpers/check_ip_in_list.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/http_api/helpers/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/http_api/init_steps/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/http_api/init_steps/bootstrap_cache.js
  framework/test/mocha/unit/modules/http_api/init_steps/bootstrap_storage.js
  framework/test/mocha/unit/modules/http_api/init_steps/setup_servers.js
  framework/test/mocha/unit/modules/http_api/init_steps/start_listening.js
  framework/test/mocha/unit/modules/http_api/init_steps/subscribe_to_events.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/http_api/init_steps/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/network/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/network/components/storage/entities/peer.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/network/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/network/lookup_peers_ips.js
Due: prettier --write, eslint

Create a.md
  protocol-specs/config/a.md
Due: prettier --write

Add files via upload
  protocol-specs/config/devnet.json
Due: prettier --write

Delete a.md
  protocol-specs/config/a.md
Due: prettier --write

Add files via upload
  protocol-specs/.eslintrc.json
  protocol-specs/.prettierignore
  protocol-specs/.prettierrc.json
  protocol-specs/README.md
  protocol-specs/index.js
  protocol-specs/package-lock.json
  protocol-specs/package.json
Due: prettier --write, eslint

Create a.md
  protocol-specs/generator_outputs/address_generation/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generator_outputs/address_generation/address_from_pub_key.json
Due: prettier --write

Delete a.md
  protocol-specs/generator_outputs/address_generation/a.md
Due: prettier --write

Create a.md
  protocol-specs/generator_outputs/block_processing_second_signature/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generator_outputs/block_processing_second_signature/invalid_block_processing_second_signature_and_funds_tx.json
  protocol-specs/generator_outputs/block_processing_second_signature/invalid_block_processing_second_signature_for_already_registered.json
  protocol-specs/generator_outputs/block_processing_second_signature/valid_block_processing_one_second_signature_tx.json
Due: prettier --write

Delete a.md
  protocol-specs/generator_outputs/block_processing_second_signature/a.md
Due: prettier --write

Create a.md
  protocol-specs/generator_outputs/block_processing_transfers/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generator_outputs/block_processing_transfers/valid_block_processing_empty_block.json
  protocol-specs/generator_outputs/block_processing_transfers/valid_block_processing_one_transfer_tx.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
