Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create a.md
  framework/src/components/cache/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/components/cache/defaults/config.js
  framework/src/components/cache/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/cache/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/components/cache/cache.js
  framework/src/components/cache/constants.js
  framework/src/components/cache/index.js
Due: prettier --write, eslint

Create a.md
  framework/src/components/logger/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/components/logger/defaults/config.js
  framework/src/components/logger/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/logger/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/components/README.md
Due: prettier --write

Add files via upload
  framework/src/components/logger/index.js
  framework/src/components/logger/logger.js
Due: prettier --write, eslint

Create a.md
  framework/src/components/storage/adapters/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/adapters/base_adapter.js
  framework/src/components/storage/adapters/index.js
  framework/src/components/storage/adapters/pgp_adapter.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/storage/adapters/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/README.md
  framework/src/components/storage/errors.js
  framework/src/components/storage/index.js
  framework/src/components/storage/storage.js
Due: prettier --write, eslint

Create a.md
  framework/src/components/storage/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/defaults/config.js
  framework/src/components/storage/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/storage/defaults/a.md
Due: prettier --write

Create a.md
  framework/src/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/entities/account.js
  framework/src/components/storage/entities/base_entity.js
  framework/src/components/storage/entities/block.js
  framework/src/components/storage/entities/index.js
  framework/src/components/storage/entities/transaction.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/storage/entities/a.md
Due: prettier --write

Create a.md
  framework/src/components/storage/utils/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/utils/field.js
  framework/src/components/storage/utils/filter_types.js
  framework/src/components/storage/utils/filters.js
  framework/src/components/storage/utils/index.js
  framework/src/components/storage/utils/input_serializers.js
  framework/src/components/storage/utils/sort_option.js
Due: prettier --write, eslint

Delete a.md
  framework/src/components/storage/utils/a.md
Due: prettier --write

Create a.md
  framework/src/components/storage/sql/accounts/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/sql/accounts/count.sql
  framework/src/components/storage/sql/accounts/get.sql
  framework/src/components/storage/sql/accounts/get_extended.sql
  framework/src/components/storage/sql/accounts/is_persisted.sql
Due: none

Delete a.md
  framework/src/components/storage/sql/accounts/a.md
Due: prettier --write

Create a.md
  framework/src/components/storage/sql/blocks/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/sql/blocks/count.sql
  framework/src/components/storage/sql/blocks/get.sql
  framework/src/components/storage/sql/blocks/is_persisted.sql
Due: none

Delete a.md
  framework/src/components/storage/sql/blocks/a.md
Due: prettier --write

Create a.md
  framework/src/components/storage/sql/transactions/a.md
Due: prettier --write

Add files via upload
  framework/src/components/storage/sql/transactions/count.sql
  framework/src/components/storage/sql/transactions/count_all.sql
  framework/src/components/storage/sql/transactions/get.sql
  framework/src/components/storage/sql/transactions/get_extended.sql
  framework/src/components/storage/sql/transactions/is_persisted.sql
Due: none

Delete a.md
  framework/src/components/storage/sql/transactions/a.md
Due: prettier --write

Add files via upload
  framework/src/errors.js
  framework/src/index.js
  framework/src/version.js
Due: prettier --write, eslint

Create a.md
  framework/src/controller/channels/base/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/channels/base/constants.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/channels/base/a.md
Due: prettier --write

Create a.md
  framework/src/controller/channels/child_process/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/channels/child_process/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/channels/child_process/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/channels/base_channel.js
  framework/src/controller/channels/child_process_channel.js
  framework/src/controller/channels/in_memory_channel.js
  framework/src/controller/channels/index.js
Due: prettier --write, eslint

Add files via upload
  framework/src/controller/README.md
  framework/src/controller/action.js
  framework/src/controller/application.js
  framework/src/controller/application_state.js
  framework/src/controller/bus.js
  framework/src/controller/child_process_loader.js
  framework/src/controller/controller.js
  framework/src/controller/default_configurator.js
  framework/src/controller/event.js
  framework/src/controller/index.js
  framework/src/controller/system_dirs.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
