Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Create a.md
  templates/scripts.tmpl/a.md
Due: prettier --write

Add files via upload
  templates/scripts.tmpl/clean.sh
  templates/scripts.tmpl/enableTestLocalIPs.sh
  templates/scripts.tmpl/prestart.sh
  templates/scripts.tmpl/start.sh
Due: none

Delete a.md
  templates/scripts.tmpl/a.md
Due: prettier --write

Create a.md
  templates/test/a.md
Due: prettier --write

Add files via upload
  templates/test/mocha.opts.tmpl
  templates/test/tsconfig.json.tmpl
  templates/test/tslint.json.tmpl
Due: none

Delete a.md
  templates/test/a.md
Due: prettier --write

Delete a.md
  scripts/a.md
Due: prettier --write

Create a.dm
  types/chai/a.dm
Due: none

Add files via upload
  types/chai/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.dm
  types/chai/a.dm
Due: none

Create a.md
  types/globals/a.md
Due: prettier --write

Add files via upload
  types/globals/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  types/globals/a.md
Due: prettier --write

Create a.md
  types/json/a.md
Due: prettier --write

Add files via upload
  types/json/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  types/json/a.md
Due: prettier --write
