Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Delete a.md
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transactions/0_0_transfer.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/3_3_votes.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/5_5_dapps.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/expire_transactions.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/inert_transactions.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/transactions_handlers.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/1_same_account_same_username.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/2_same_account_different_usernames.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/3_different_accounts_same_username.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/4_different_accounts_different_usernames.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/5_same_account_from_pool_and_peer.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/transactions/2_delegates/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/4_4_multisignature.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/4_X_multisignature_edge_cases.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/4_X_multisignature_unconfirmed.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/4_X_multisignature_validated.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/4_multisignature_account.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/transactions/4_multisignature/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/duplicate_signatures.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/multisignature.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/sender_public_key_exception.sepc.js
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/signatures.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/transactions/exceptions/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/utils/chain/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/utils/chain/account.js
  framework/test/jest/integration/utils/chain/block.js
  framework/test/jest/integration/utils/chain/chain.js
  framework/test/jest/integration/utils/chain/delegate.js
  framework/test/jest/integration/utils/chain/index.js
  framework/test/jest/integration/utils/chain/transaction.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/utils/chain/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/utils/channel.js
  framework/test/jest/integration/utils/default_transactions.js
  framework/test/jest/integration/utils/index.js
  framework/test/jest/integration/utils/storage.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/integration/utils/configs/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/utils/configs/config_cache.js
  framework/test/jest/integration/utils/configs/config_constants.js
  framework/test/jest/integration/utils/configs/config_storage.js
  framework/test/jest/integration/utils/configs/index.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/utils/configs/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/__mocks__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/__mocks__/pm2-axon.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/__mocks__/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/__snapshots__/application.spec.js.snap
Due: none

Delete a.md
  framework/test/jest/unit/specs/controller/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/application.spec.js
  framework/test/jest/unit/specs/controller/application_state.spec.js
  framework/test/jest/unit/specs/controller/bus.spec.js
  framework/test/jest/unit/specs/controller/controller.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/specs/controller/action/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/action/action.spec.js
  framework/test/jest/unit/specs/controller/action/constants.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/action/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/channels/base/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/channels/base/__snapshots__/constants.spec.js.snap
Due: none

Delete a.md
  framework/test/jest/unit/specs/controller/channels/base/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/channels/base/constants.spec.js
Due: prettier --write, eslint

Add files via upload
  framework/test/jest/unit/specs/controller/channels/base_channel.spec.js
  framework/test/jest/unit/specs/controller/channels/child_process_channel.spec.js
  framework/test/jest/unit/specs/controller/channels/in_memory_channel.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/specs/controller/channels/child_process/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/channels/child_process/index.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/channels/child_process/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/event/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/event/constants.js
  framework/test/jest/unit/specs/controller/event/event.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/event/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/helpers/configurator/a.md
Due: prettier --write
