Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Add files via upload
  elements/lisk-constants/test/_setup.ts
  elements/lisk-constants/test/index.ts
  elements/lisk-constants/test/mocha.opts
  elements/lisk-constants/test/tsconfig.json
  elements/lisk-constants/test/tslint.json
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-constants/test/a.md
Due: prettier --write

Create a.md
  elements/lisk-cryptography/benchmark/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/benchmark/nacl.js
Due: prettier --write, eslint

Delete a.md
  elements/lisk-cryptography/benchmark/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/.npmignore
  elements/lisk-cryptography/.npmrc
  elements/lisk-cryptography/.nycrc
  elements/lisk-cryptography/.prettierignore
  elements/lisk-cryptography/.prettierrc.json
  elements/lisk-cryptography/LICENSE
  elements/lisk-cryptography/README.md
  elements/lisk-cryptography/browsertest
  elements/lisk-cryptography/cypress
  elements/lisk-cryptography/cypress.json
  elements/lisk-cryptography/package-lock.json
  elements/lisk-cryptography/package.json
  elements/lisk-cryptography/scripts
  elements/lisk-cryptography/tsconfig.browsertest.json
  elements/lisk-cryptography/tsconfig.json
  elements/lisk-cryptography/tslint.json
Due: prettier --write

Create a.nd
  elements/lisk-cryptography/src/nacl/a.nd
Due: none

Add files via upload
  elements/lisk-cryptography/src/nacl/fast.ts
  elements/lisk-cryptography/src/nacl/index.ts
  elements/lisk-cryptography/src/nacl/nacl_types.ts
  elements/lisk-cryptography/src/nacl/slow.ts
Due: prettier --write, tslint --format verbose

Delete a.nd
  elements/lisk-cryptography/src/nacl/a.nd
Due: none

Add files via upload
  elements/lisk-cryptography/src/buffer.ts
  elements/lisk-cryptography/src/constants.ts
  elements/lisk-cryptography/src/convert.ts
  elements/lisk-cryptography/src/encrypt.ts
  elements/lisk-cryptography/src/hash.ts
  elements/lisk-cryptography/src/index.ts
  elements/lisk-cryptography/src/keys.ts
  elements/lisk-cryptography/src/sign.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-cryptography/test/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/test/helpers/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-cryptography/test/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/test/_global_hooks.ts
  elements/lisk-cryptography/test/_setup.ts
  elements/lisk-cryptography/test/buffer.ts
  elements/lisk-cryptography/test/convert.ts
  elements/lisk-cryptography/test/encrypt.ts
  elements/lisk-cryptography/test/hash.ts
  elements/lisk-cryptography/test/index.ts
  elements/lisk-cryptography/test/keys.ts
  elements/lisk-cryptography/test/mocha.opts
  elements/lisk-cryptography/test/sign.ts
  elements/lisk-cryptography/test/tsconfig.json
  elements/lisk-cryptography/test/tslint.json
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-cryptography/test/nacl/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/test/nacl/index.ts
  elements/lisk-cryptography/test/nacl/nacl.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-cryptography/test/nacl/a.md
Due: prettier --write

Create a.md
  elements/lisk-cryptography/types/buffer-reverse/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/types/buffer-reverse/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-cryptography/types/buffer-reverse/a.md
Due: prettier --write

Create a.md
  elements/lisk-cryptography/types/sodium-native/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/types/sodium-native/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-cryptography/types/sodium-native/a.md
Due: prettier --write

Create a.md
  elements/lisk-cryptography/types/varuint-bitcoin/a.md
Due: prettier --write

Add files via upload
  elements/lisk-cryptography/types/varuint-bitcoin/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-cryptography/types/varuint-bitcoin/a.md
Due: prettier --write

Create a.md
  elements/lisk-elements/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-elements/src/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-elements/src/a.md
Due: prettier --write

Create a.md
  elements/lisk-elements/test/a.md
Due: prettier --write

Add files via upload
  elements/lisk-elements/test/_setup.ts
  elements/lisk-elements/test/index.ts
  elements/lisk-elements/test/mocha.opts
  elements/lisk-elements/test/tsconfig.json
  elements/lisk-elements/test/tslint.json
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-elements/test/a.md
Due: prettier --write

Add files via upload
  elements/lisk-elements/.npmignore
  elements/lisk-elements/.npmrc
  elements/lisk-elements/.nycrc
  elements/lisk-elements/.prettierignore
  elements/lisk-elements/.prettierrc.json
  elements/lisk-elements/README.md
  elements/lisk-elements/browsertest
  elements/lisk-elements/cypress
  elements/lisk-elements/cypress.json
  elements/lisk-elements/index.html
  elements/lisk-elements/package-lock.json
  elements/lisk-elements/package.json
  elements/lisk-elements/scripts
  elements/lisk-elements/tsconfig.browsertest.json
  elements/lisk-elements/tsconfig.json
  elements/lisk-elements/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-p2p/src/peer/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/src/peer/base.ts
  elements/lisk-p2p/src/peer/inbound.ts
  elements/lisk-p2p/src/peer/index.ts
  elements/lisk-p2p/src/peer/outbound.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-p2p/src/peer/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/src/disconnect_status_codes.ts
  elements/lisk-p2p/src/errors.ts
  elements/lisk-p2p/src/index.ts
  elements/lisk-p2p/src/p2p.ts
  elements/lisk-p2p/src/p2p_request.ts
  elements/lisk-p2p/src/p2p_types.ts
  elements/lisk-p2p/src/peer_pool.ts
  elements/lisk-p2p/src/peer_selection.ts
  elements/lisk-p2p/src/utils.ts
  elements/lisk-p2p/src/validation.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-p2p/src/peer_directory/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/src/peer_directory/index.ts
  elements/lisk-p2p/src/peer_directory/new_peers.ts
  elements/lisk-p2p/src/peer_directory/peer_book.ts
  elements/lisk-p2p/src/peer_directory/tried_peers.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-p2p/src/peer_directory/a.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
