Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create a.md
  framework/src/modules/chain/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/defaults/config.js
  framework/src/modules/chain/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/defaults/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/init_steps/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/init_steps/bootstrap_cache.js
  framework/src/modules/chain/init_steps/bootstrap_storage.js
  framework/src/modules/chain/init_steps/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/init_steps/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/interface_adapters/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/interface_adapters/index.js
  framework/src/modules/chain/interface_adapters/transaction_interface_adapter.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/interface_adapters/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/migrations/sql/a.md
Due: prettier --write

Delete a.md
  framework/src/modules/chain/migrations/sql/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/migrations/index.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/chain/rounds/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/rounds/account.js
  framework/src/modules/chain/rounds/delegates.js
  framework/src/modules/chain/rounds/index.js
  framework/src/modules/chain/rounds/round.js
  framework/src/modules/chain/rounds/rounds.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/rounds/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/schema/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/schema/definitions.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/schema/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/state_store/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/state_store/account_store.js
  framework/src/modules/chain/state_store/index.js
  framework/src/modules/chain/state_store/round_store.js
  framework/src/modules/chain/state_store/state_store.js
  framework/src/modules/chain/state_store/transaction_store.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/state_store/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/transaction_pool/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/transaction_pool/index.js
  framework/src/modules/chain/transaction_pool/sort.js
  framework/src/modules/chain/transaction_pool/transaction_pool.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/transaction_pool/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/transactions/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/transactions/compose_transaction_steps.js
  framework/src/modules/chain/transactions/exceptions_handlers.js
  framework/src/modules/chain/transactions/index.js
  framework/src/modules/chain/transactions/transactions_handlers.js
  framework/src/modules/chain/transactions/votes.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/transactions/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/transport/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/transport/broadcaster.js
  framework/src/modules/chain/transport/index.js
  framework/src/modules/chain/transport/transport.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/transport/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/utils/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/utils/error_handlers.js
  framework/src/modules/chain/utils/jobs_queue.js
  framework/src/modules/chain/utils/newrelic_lisk.js
  framework/src/modules/chain/utils/regexp_tester.js
  framework/src/modules/chain/utils/sequence.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/utils/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/README.md
  framework/src/modules/base_module.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/http_api/config/swagger/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/config/swagger/default.yml
Due: none

Delete a.md
  framework/src/modules/http_api/config/swagger/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/api_codes.js
  framework/src/modules/http_api/api_error.js
  framework/src/modules/http_api/http_api.js
  framework/src/modules/http_api/index.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/http_api/controllers/a.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
