Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Add files via upload
  framework/test/jest/unit/specs/controller/helpers/configurator/configurator.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/helpers/configurator/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/helpers/system_dirs.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/specs/controller/helpers/validator/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/helpers/validator/validator.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/helpers/validator/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/helpers/validator/keywords/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/helpers/validator/keywords/arg.spec.js
  framework/test/jest/unit/specs/controller/helpers/validator/keywords/env.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/controller/helpers/validator/keywords/a.md
Due: prettier --write

Create a.md
  framework/test/jest/unit/specs/controller/schema/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/schema/__snapshots__/application_schema.spec.js.snap
  framework/test/jest/unit/specs/controller/schema/__snapshots__/constants_schema.spec.js.snap
  framework/test/jest/unit/specs/controller/schema/__snapshots__/genesis_block_schema.spec.js.snap
Due: none

Delete a.md
  framework/test/jest/unit/specs/controller/schema/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/controller/schema/application_schema.spec.js
  framework/test/jest/unit/specs/controller/schema/constants_schema.spec.js
  framework/test/jest/unit/specs/controller/schema/genesis_block_schema.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/specs/jest.config/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/jest.config/__snapshots__/jest.config.unit.spec.js.snap
Due: none

Delete a.md
  framework/test/jest/unit/specs/jest.config/__snapshots__/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/jest.config/jest.config.unit.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/specs/modules/chain/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/modules/chain/utils/sequence.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/specs/modules/chain/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/specs/modules/chain/loader.spec.js
Due: prettier --write, eslint

Add files via upload
  framework/test/jest/unit/jest.config.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/unit/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/unit/utils/registered_transactions.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/unit/utils/a.md
Due: prettier --write

Create a.md
  framework/test/test_app/a.md
Due: prettier --write

Add files via upload
  framework/test/test_app/app.js
  framework/test/test_app/index.js
Due: prettier --write, eslint

Delete a.md
  framework/test/test_app/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/common/helpers/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/common/helpers/api.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/common/helpers/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/common/application.js
  framework/test/mocha/common/generatePeerHeader.js
  framework/test/mocha/common/modules_loader.js
  framework/test/mocha/common/phases.js
  framework/test/mocha/common/registered_transactions.js
  framework/test/mocha/common/scenarios.js
  framework/test/mocha/common/storage_sandbox.js
  framework/test/mocha/common/storage_seed.js
  framework/test/mocha/common/swagger_spec.js
Due: prettier --write, eslint

Create a.d
  framework/test/mocha/common/integration/sql/rounds/a.d
Due: none

Add files via upload
  framework/test/mocha/common/integration/sql/rounds/validate_accounts_balances.sql
Due: none

Delete a.d
  framework/test/mocha/common/integration/sql/rounds/a.d
Due: none

Add files via upload
  framework/test/mocha/common/integration/sql/queries_helper.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/common/lisk-mocha-runner/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/common/lisk-mocha-runner/file_manager.js
  framework/test/mocha/common/lisk-mocha-runner/index.js
  framework/test/mocha/common/lisk-mocha-runner/process_manager.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/common/lisk-mocha-runner/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/common/utils/a.md
Due: prettier --write
