Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create a.md
  elements/lisk-transaction-pool/test/unit/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/unit/check_transactions.ts
  elements/lisk-transaction-pool/test/unit/job.ts
  elements/lisk-transaction-pool/test/unit/queue.ts
  elements/lisk-transaction-pool/test/unit/queue_checkers.ts
  elements/lisk-transaction-pool/test/unit/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transaction-pool/test/unit/a.md
Due: prettier --write

Create a.md
  elements/lisk-transaction-pool/test/utils/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/utils/add_transaction_functions.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transaction-pool/test/utils/a.md
Due: prettier --write

Create a.md
  elements/lisk-transactions/fixtures/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/fixtures/index.ts
  elements/lisk-transactions/fixtures/invalid_transactions.json
  elements/lisk-transactions/fixtures/transactions.json
  elements/lisk-transactions/fixtures/valid_account.json
  elements/lisk-transactions/fixtures/valid_dapp_transactions.json
  elements/lisk-transactions/fixtures/valid_delegate_account.json
  elements/lisk-transactions/fixtures/valid_delegate_transaction.json
  elements/lisk-transactions/fixtures/valid_in_transfer_transaction.json
  elements/lisk-transactions/fixtures/valid_multisignature_account.json
  elements/lisk-transactions/fixtures/valid_multisignature_transaction.json
  elements/lisk-transactions/fixtures/valid_multisignature_transaction_no_signatures.json
  elements/lisk-transactions/fixtures/valid_out_transfer_transactions.json
  elements/lisk-transactions/fixtures/valid_register_second_signature_transaction.json
  elements/lisk-transactions/fixtures/valid_second_signature_account.json
  elements/lisk-transactions/fixtures/valid_transaction.json
  elements/lisk-transactions/fixtures/valid_transaction_from_multisignature_account.json
  elements/lisk-transactions/fixtures/valid_transaction_from_second_signature_account.json
  elements/lisk-transactions/fixtures/valid_transfer_account.json
  elements/lisk-transactions/fixtures/valid_transfer_transaction_with_asset.json
  elements/lisk-transactions/fixtures/valid_transfer_transactions.json
  elements/lisk-transactions/fixtures/valid_vote_transaction.json
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transactions/fixtures/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/.npmignore
  elements/lisk-transactions/.npmrc
  elements/lisk-transactions/.nycrc
  elements/lisk-transactions/.prettierignore
  elements/lisk-transactions/.prettierrc.json
  elements/lisk-transactions/LICENSE
  elements/lisk-transactions/README.md
  elements/lisk-transactions/browsertest
  elements/lisk-transactions/cypress
  elements/lisk-transactions/cypress.json
  elements/lisk-transactions/package-lock.json
  elements/lisk-transactions/package.json
  elements/lisk-transactions/scripts
  elements/lisk-transactions/tsconfig.browsertest.json
  elements/lisk-transactions/tsconfig.json
  elements/lisk-transactions/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-transactions/src/utils/validation/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/src/utils/validation/index.ts
  elements/lisk-transactions/src/utils/validation/schema.ts
  elements/lisk-transactions/src/utils/validation/validate_transaction.ts
  elements/lisk-transactions/src/utils/validation/validation.ts
  elements/lisk-transactions/src/utils/validation/validator.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transactions/src/utils/validation/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/src/utils/address.ts
  elements/lisk-transactions/src/utils/create_base_transaction.ts
  elements/lisk-transactions/src/utils/format.ts
  elements/lisk-transactions/src/utils/get_transaction_bytes.ts
  elements/lisk-transactions/src/utils/get_transaction_hash.ts
  elements/lisk-transactions/src/utils/index.ts
  elements/lisk-transactions/src/utils/prepare_transaction.ts
  elements/lisk-transactions/src/utils/sign_and_validate.ts
  elements/lisk-transactions/src/utils/sign_raw_transaction.ts
  elements/lisk-transactions/src/utils/time.ts
  elements/lisk-transactions/src/utils/transaction_id.ts
  elements/lisk-transactions/src/utils/verify.ts
Due: prettier --write, tslint --format verbose

Add files via upload
  elements/lisk-transactions/src/0_transfer.ts
  elements/lisk-transactions/src/0_transfer_transaction.ts
  elements/lisk-transactions/src/1_register_second_passphrase.ts
  elements/lisk-transactions/src/1_second_signature_transaction.ts
  elements/lisk-transactions/src/2_delegate_transaction.ts
  elements/lisk-transactions/src/2_register_delegate.ts
  elements/lisk-transactions/src/3_cast_votes.ts
  elements/lisk-transactions/src/3_vote_transaction.ts
  elements/lisk-transactions/src/4_multisignature_transaction.ts
  elements/lisk-transactions/src/4_register_multisignature_account.ts
  elements/lisk-transactions/src/5_create_dapp.ts
  elements/lisk-transactions/src/5_dapp_transaction.ts
  elements/lisk-transactions/src/base_transaction.ts
  elements/lisk-transactions/src/constants.ts
  elements/lisk-transactions/src/create_signature_object.ts
  elements/lisk-transactions/src/errors.ts
  elements/lisk-transactions/src/index.ts
  elements/lisk-transactions/src/response.ts
  elements/lisk-transactions/src/transaction_types.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-transactions/test/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/test/helpers/add_transaction_fields.ts
  elements/lisk-transactions/test/helpers/cryptography.ts
  elements/lisk-transactions/test/helpers/index.ts
  elements/lisk-transactions/test/helpers/state_store.ts
  elements/lisk-transactions/test/helpers/test_transaction_class.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transactions/test/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/test/0_transfer.ts
  elements/lisk-transactions/test/0_transfer_transaction.ts
  elements/lisk-transactions/test/1_register_second_passphrase.ts
  elements/lisk-transactions/test/1_second_passphrase_transaction.ts
  elements/lisk-transactions/test/2_delegate_transaction.ts
  elements/lisk-transactions/test/2_register_delegate.ts
  elements/lisk-transactions/test/3_cast_votes.ts
  elements/lisk-transactions/test/3_vote_transaction.ts
  elements/lisk-transactions/test/4_multisignature_transaction.ts
  elements/lisk-transactions/test/4_register_multisignature_account.ts
  elements/lisk-transactions/test/5_create_dapp.ts
  elements/lisk-transactions/test/5_dapp_transaction.ts
  elements/lisk-transactions/test/_global_hooks.ts
  elements/lisk-transactions/test/_setup.ts
  elements/lisk-transactions/test/base_transaction.ts
  elements/lisk-transactions/test/constants.ts
  elements/lisk-transactions/test/create_signature_object.ts
  elements/lisk-transactions/test/errors.ts
  elements/lisk-transactions/test/index.ts
  elements/lisk-transactions/test/mocha.opts
  elements/lisk-transactions/test/tsconfig.json
  elements/lisk-transactions/test/tslint.json
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-transactions/test/utils/validation/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/test/utils/validation/validate_transaction.ts
  elements/lisk-transactions/test/utils/validation/validation.ts
  elements/lisk-transactions/test/utils/validation/validator.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transactions/test/utils/validation/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/test/utils/format.ts
  elements/lisk-transactions/test/utils/get_transaction_bytes.ts
  elements/lisk-transactions/test/utils/get_transaction_hash.ts
  elements/lisk-transactions/test/utils/index.ts
  elements/lisk-transactions/test/utils/prepare_transaction.ts
  elements/lisk-transactions/test/utils/sign_and_validate.ts
  elements/lisk-transactions/test/utils/sign_raw_transaction.ts
  elements/lisk-transactions/test/utils/time.ts
  elements/lisk-transactions/test/utils/transaction_id.ts
  elements/lisk-transactions/test/utils/verify.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-transactions/types/ajv-merge-patch/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transactions/types/ajv-merge-patch/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transactions/types/ajv-merge-patch/a.md
Due: prettier --write

Create a.md
  elements/lisk-validator/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-validator/src/constants.ts
  elements/lisk-validator/src/formats.ts
  elements/lisk-validator/src/index.ts
  elements/lisk-validator/src/lisk_validator.ts
  elements/lisk-validator/src/validation.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-validator/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-validator/.npmignore
  elements/lisk-validator/.npmrc
  elements/lisk-validator/.nycrc
  elements/lisk-validator/.prettierignore
  elements/lisk-validator/.prettierrc.json
  elements/lisk-validator/README.md
  elements/lisk-validator/browsertest
  elements/lisk-validator/cypress
  elements/lisk-validator/cypress.json
  elements/lisk-validator/package-lock.json
  elements/lisk-validator/package.json
  elements/lisk-validator/scripts
  elements/lisk-validator/tsconfig.browsertest.json
  elements/lisk-validator/tsconfig.json
  elements/lisk-validator/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-validator/test/a.md
Due: prettier --write

Add files via upload
  elements/lisk-validator/test/_global_hooks.ts
  elements/lisk-validator/test/_setup.ts
  elements/lisk-validator/test/index.ts
  elements/lisk-validator/test/lisk_validator.ts
  elements/lisk-validator/test/mocha.opts
  elements/lisk-validator/test/tsconfig.json
  elements/lisk-validator/test/tslint.json
  elements/lisk-validator/test/validation.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-validator/test/a.md
Due: prettier --write

Create a.md
  elements/lisk-validator/types/ajv-merge-patch/a.md
Due: prettier --write

Add files via upload
  elements/lisk-validator/types/ajv-merge-patch/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-validator/types/ajv-merge-patch/a.md
Due: prettier --write

Create a.md
  framework/docs/assets/a.md
Due: prettier --write

Add files via upload
  framework/docs/assets/diagram_framework.png
Due: none

Delete a.md
  framework/docs/assets/a.md
Due: prettier --write

Add files via upload
  framework/.eslintignore
  framework/.eslintrc.json
  framework/.npmignore
  framework/.npmrc
  framework/.prettierignore
  framework/.prettierrc.json
  framework/Jenkinsfile.network
  framework/README.md
  framework/package-lock.json
  framework/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
