Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Add files via upload
  framework/src/modules/http_api/controllers/accounts.js
  framework/src/modules/http_api/controllers/blocks.js
  framework/src/modules/http_api/controllers/dapps.js
  framework/src/modules/http_api/controllers/delegates.js
  framework/src/modules/http_api/controllers/index.js
  framework/src/modules/http_api/controllers/node.js
  framework/src/modules/http_api/controllers/peers.js
  framework/src/modules/http_api/controllers/signatures.js
  framework/src/modules/http_api/controllers/transactions.js
  framework/src/modules/http_api/controllers/voters.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/http_api/controllers/a.md
Due: prettier --write

Create a.md
  framework/src/modules/http_api/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/defaults/config.js
  framework/src/modules/http_api/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/http_api/defaults/a.md
Due: prettier --write

Create a.md
  framework/src/modules/http_api/fittings/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/fittings/index.js
  framework/src/modules/http_api/fittings/lisk_cache.js
  framework/src/modules/http_api/fittings/lisk_compression.js
  framework/src/modules/http_api/fittings/lisk_cors.js
  framework/src/modules/http_api/fittings/lisk_error_handler.js
  framework/src/modules/http_api/fittings/lisk_params_validator.js
  framework/src/modules/http_api/fittings/lisk_request_limit.js
  framework/src/modules/http_api/fittings/lisk_response_formatter.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/http_api/fittings/a.md
Due: prettier --write

Create a.md
  framework/src/modules/http_api/helpers/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/helpers/check_ip_in_list.js
  framework/src/modules/http_api/helpers/error_handlers.js
  framework/src/modules/http_api/helpers/newrelic_lisk.js
  framework/src/modules/http_api/helpers/swagger.js
  framework/src/modules/http_api/helpers/swagger_module_registry.js
  framework/src/modules/http_api/helpers/swagger_security_handlers.js
  framework/src/modules/http_api/helpers/utils.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/http_api/helpers/a.md
Due: prettier --write

Create a.md
  framework/src/modules/http_api/init_steps/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/init_steps/bootstrap_cache.js
  framework/src/modules/http_api/init_steps/bootstrap_storage.js
  framework/src/modules/http_api/init_steps/bootstrap_swagger.js
  framework/src/modules/http_api/init_steps/index.js
  framework/src/modules/http_api/init_steps/setup_servers.js
  framework/src/modules/http_api/init_steps/start_listening.js
  framework/src/modules/http_api/init_steps/subscribe_to_events.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/http_api/init_steps/a.md
Due: prettier --write

Create a.md
  framework/src/modules/http_api/schema/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/http_api/schema/swagger.yml
Due: none

Delete a.md
  framework/src/modules/http_api/schema/a.md
Due: prettier --write

Create a.md
  framework/src/modules/network/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/components/storage/entities/index.js
  framework/src/modules/network/components/storage/entities/peer.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/network/components/storage/entities/a.md
Due: prettier --write

Create a.md
  framework/src/modules/network/components/storage/sql/peers/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/components/storage/sql/peers/create.sql
  framework/src/modules/network/components/storage/sql/peers/delete.sql
  framework/src/modules/network/components/storage/sql/peers/get.sql
  framework/src/modules/network/components/storage/sql/peers/is_persisted.sql
  framework/src/modules/network/components/storage/sql/peers/update.sql
  framework/src/modules/network/components/storage/sql/peers/update_one.sql
Due: none

Delete a.md
  framework/src/modules/network/components/storage/sql/peers/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/index.js
  framework/src/modules/network/network.js
  framework/src/modules/network/utils.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/network/defaults/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/defaults/config.js
  framework/src/modules/network/defaults/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/network/defaults/a.md
Due: prettier --write

Create a.md
  framework/src/modules/network/migrations/sql/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/migrations/sql/20160723182900_create_schema.sql
  framework/src/modules/network/migrations/sql/20161016133824_add_broadhash_column_to_peers.sql
  framework/src/modules/network/migrations/sql/20170113181857_add_constraints_to_peers.sql
  framework/src/modules/network/migrations/sql/20171207000001_remove_peers_dapp_table.sql
  framework/src/modules/network/migrations/sql/20171227155620_rename_port_to_ws_port.sql
  framework/src/modules/network/migrations/sql/20180205000002_add_height_column_to_peers.sql
  framework/src/modules/network/migrations/sql/20180327170000_support_long_peer_version_numbers.sql
  framework/src/modules/network/migrations/sql/20181106000006_change_wsport_type_in_peers.sql
  framework/src/modules/network/migrations/sql/20190103000001_drop_peers_clock.sql
  framework/src/modules/network/migrations/sql/20190111111557_add_protocolVersion_column_to_peers.sql
Due: none

Delete a.md
  framework/src/modules/network/migrations/sql/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/network/migrations/index.js
Due: prettier --write, eslint

Create a.md
  framework/test/fixtures/config/devnet/a.md
Due: prettier --write

Add files via upload
  framework/test/fixtures/config/devnet/config.json
  framework/test/fixtures/config/devnet/delegates_for_first_round.json
  framework/test/fixtures/config/devnet/genesis_block.json
Due: prettier --write

Delete a.md
  framework/test/fixtures/config/devnet/a.md
Due: prettier --write

Create a.md
  framework/test/fixtures/config/mainnet/a.md
Due: prettier --write

Create a.md
  framework/test/fixtures/config/testnet/a.md
Due: prettier --write

Add files via upload
  framework/test/fixtures/config/testnet/config.json
  framework/test/fixtures/config/testnet/genesis_block.json
Due: prettier --write

Delete a.md
  framework/test/fixtures/config/testnet/a.md
Due: prettier --write

Add files via upload
  framework/test/fixtures/config/mainnet/config.json
  framework/test/fixtures/config/mainnet/genesis_block.json
Due: prettier --write

Delete genesis_block.json
  framework/test/fixtures/config/mainnet/genesis_block.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
