Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Add files via upload
  elements/lisk-p2p/.npmignore
  elements/lisk-p2p/.npmrc
  elements/lisk-p2p/.nycrc
  elements/lisk-p2p/.prettierignore
  elements/lisk-p2p/.prettierrc.json
  elements/lisk-p2p/README.md
  elements/lisk-p2p/package-lock.json
  elements/lisk-p2p/package.json
  elements/lisk-p2p/scripts
  elements/lisk-p2p/tsconfig.json
  elements/lisk-p2p/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-p2p/test/integration/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/test/integration/p2p.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-p2p/test/integration/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/test/_setup.ts
  elements/lisk-p2p/test/mocha.opts
  elements/lisk-p2p/test/tsconfig.json
  elements/lisk-p2p/test/tslint.json
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-p2p/test/unit/directory/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/test/unit/directory/new_peers.ts
  elements/lisk-p2p/test/unit/directory/peer_book.ts
  elements/lisk-p2p/test/unit/directory/tried_peers.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-p2p/test/unit/directory/a.md
Due: prettier --write

Create a.pd
  elements/lisk-p2p/test/unit/peer/a.pd
Due: none

Add files via upload
  elements/lisk-p2p/test/unit/peer/base.ts
  elements/lisk-p2p/test/unit/peer/inbound_peer.ts
  elements/lisk-p2p/test/unit/peer/outbound_peer.ts
Due: prettier --write, tslint --format verbose

Delete a.pd
  elements/lisk-p2p/test/unit/peer/a.pd
Due: none

Add files via upload
  elements/lisk-p2p/test/unit/_global_hooks.ts
  elements/lisk-p2p/test/unit/errors.ts
  elements/lisk-p2p/test/unit/p2p.ts
  elements/lisk-p2p/test/unit/peer_pool.ts
  elements/lisk-p2p/test/unit/peer_selection.ts
  elements/lisk-p2p/test/unit/utils.ts
  elements/lisk-p2p/test/unit/validation.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-p2p/test/utils/a.md
Due: prettier --write

Add files via upload
  elements/lisk-p2p/test/utils/helpers.ts
  elements/lisk-p2p/test/utils/peers.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-p2p/test/utils/a.md
Due: prettier --write

Create a.md
  elements/lisk-passphrase/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-passphrase/src/index.ts
  elements/lisk-passphrase/src/validation.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-passphrase/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-passphrase/.npmignore
  elements/lisk-passphrase/.npmrc
  elements/lisk-passphrase/.nycrc
  elements/lisk-passphrase/.prettierignore
  elements/lisk-passphrase/.prettierrc.json
  elements/lisk-passphrase/LICENSE
  elements/lisk-passphrase/README.md
  elements/lisk-passphrase/browsertest
  elements/lisk-passphrase/cypress
  elements/lisk-passphrase/cypress.json
  elements/lisk-passphrase/package-lock.json
  elements/lisk-passphrase/package.json
  elements/lisk-passphrase/scripts
  elements/lisk-passphrase/tsconfig.browsertest.json
  elements/lisk-passphrase/tsconfig.json
  elements/lisk-passphrase/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-passphrase/test/a.md
Due: prettier --write

Add files via upload
  elements/lisk-passphrase/test/_setup.ts
  elements/lisk-passphrase/test/index.ts
  elements/lisk-passphrase/test/mocha.opts
  elements/lisk-passphrase/test/tsconfig.json
  elements/lisk-passphrase/test/tslint.json
  elements/lisk-passphrase/test/validation.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-passphrase/test/a.md
Due: prettier --write

Create a.md
  elements/lisk-transaction-pool/fixtures/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/fixtures/transactions.json
Due: prettier --write

Delete a.md
  elements/lisk-transaction-pool/fixtures/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/.nycrc
  elements/lisk-transaction-pool/.prettierignore
  elements/lisk-transaction-pool/LICENSE
  elements/lisk-transaction-pool/README.md
  elements/lisk-transaction-pool/package-lock.json
  elements/lisk-transaction-pool/package.json
  elements/lisk-transaction-pool/tsconfig.json
  elements/lisk-transaction-pool/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-transaction-pool/scripts/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/scripts/clean.sh
Due: none

Delete a.md
  elements/lisk-transaction-pool/scripts/a.md
Due: prettier --write

Create a.md
  elements/lisk-transaction-pool/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/src/check_transactions.ts
  elements/lisk-transaction-pool/src/index.ts
  elements/lisk-transaction-pool/src/job.ts
  elements/lisk-transaction-pool/src/queue.ts
  elements/lisk-transaction-pool/src/queue_checkers.ts
  elements/lisk-transaction-pool/src/transaction_pool.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transaction-pool/src/a.md
Due: prettier --write

Create a.md
  elements/lisk-transaction-pool/test/integration/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/integration/helpers/common.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transaction-pool/test/integration/helpers/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/integration/transaction_movement.ts
  elements/lisk-transaction-pool/test/integration/transaction_pool_events.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-transaction-pool/test/performance/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/performance/queue.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-transaction-pool/test/performance/a.md
Due: prettier --write

Add files via upload
  elements/lisk-transaction-pool/test/_global_hooks.ts
  elements/lisk-transaction-pool/test/_setup.ts
  elements/lisk-transaction-pool/test/mocha.opts
  elements/lisk-transaction-pool/test/tsconfig.json
  elements/lisk-transaction-pool/test/tslint.json
Due: prettier --write, tslint --format verbose
