Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create a.md
  framework/src/controller/configurator/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/configurator/configurator.js
  framework/src/controller/configurator/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/configurator/a.md
Due: prettier --write

Create a.md
  framework/src/controller/migrations/sql/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/migrations/sql/create.sql
  framework/src/controller/migrations/sql/define_schema.sql
  framework/src/controller/migrations/sql/get.sql
  framework/src/controller/migrations/sql/is_persisted.sql
Due: none

Delete a.md
  framework/src/controller/migrations/sql/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/migrations/index.js
  framework/src/controller/migrations/migration_entity.js
Due: prettier --write, eslint

Create a.md
  framework/src/controller/schema/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/schema/application_config_schema.js
  framework/src/controller/schema/constants_schema.js
  framework/src/controller/schema/genesis_block_schema.js
  framework/src/controller/schema/index.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/schema/a.md
Due: prettier --write

Create a.md
  framework/src/controller/validator/keywords/arg/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/validator/keywords/arg/index.js
  framework/src/controller/validator/keywords/arg/meta_schema.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/validator/keywords/arg/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/validator/keywords/formatters.js
  framework/src/controller/validator/keywords/index.js
Due: prettier --write, eslint

Create a.md
  framework/src/controller/validator/keywords/env/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/validator/keywords/env/index.js
  framework/src/controller/validator/keywords/env/meta_schema.js
Due: prettier --write, eslint

Delete a.md
  framework/src/controller/validator/keywords/env/a.md
Due: prettier --write

Add files via upload
  framework/src/controller/validator/formats.js
  framework/src/controller/validator/index.js
  framework/src/controller/validator/z_schema.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/chain/blocks/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/blocks/block.js
  framework/src/modules/chain/blocks/block_reward.js
  framework/src/modules/chain/blocks/block_slots.js
  framework/src/modules/chain/blocks/block_version.js
  framework/src/modules/chain/blocks/blocks.js
  framework/src/modules/chain/blocks/chain.js
  framework/src/modules/chain/blocks/index.js
  framework/src/modules/chain/blocks/process.js
  framework/src/modules/chain/blocks/utils.js
  framework/src/modules/chain/blocks/verify.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/blocks/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/chain.js
  framework/src/modules/chain/forger.js
  framework/src/modules/chain/index.js
  framework/src/modules/chain/loader.js
  framework/src/modules/chain/peers.js
Due: prettier --write, eslint

Create a.md
  framework/src/modules/chain/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/entities/account.js
  framework/src/modules/chain/components/storage/entities/block.js
  framework/src/modules/chain/components/storage/entities/index.js
  framework/src/modules/chain/components/storage/entities/round.js
  framework/src/modules/chain/components/storage/entities/transaction.js
Due: prettier --write, eslint

Delete a.md
  framework/src/modules/chain/components/storage/entities/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/components/storage/sql/accounts/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/sql/accounts/create.sql
  framework/src/modules/chain/components/storage/sql/accounts/create_dependent_record.sql
  framework/src/modules/chain/components/storage/sql/accounts/create_dependent_records.sql
  framework/src/modules/chain/components/storage/sql/accounts/decrease_field_by.sql
  framework/src/modules/chain/components/storage/sql/accounts/delegate_blocks_rewards.sql
  framework/src/modules/chain/components/storage/sql/accounts/delete.sql
  framework/src/modules/chain/components/storage/sql/accounts/delete_all_dependent_records.sql
  framework/src/modules/chain/components/storage/sql/accounts/delete_dependent_record.sql
  framework/src/modules/chain/components/storage/sql/accounts/delete_dependent_records.sql
  framework/src/modules/chain/components/storage/sql/accounts/increase_field_by.sql
  framework/src/modules/chain/components/storage/sql/accounts/insert_fork.sql
  framework/src/modules/chain/components/storage/sql/accounts/reset_mem_tables.sql
  framework/src/modules/chain/components/storage/sql/accounts/sync_delegates_rank.sql
  framework/src/modules/chain/components/storage/sql/accounts/update.sql
  framework/src/modules/chain/components/storage/sql/accounts/update_one.sql
Due: none

Delete a.md
  framework/src/modules/chain/components/storage/sql/accounts/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/components/storage/sql/blocks/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/sql/blocks/create.sql
  framework/src/modules/chain/components/storage/sql/blocks/delete.sql
  framework/src/modules/chain/components/storage/sql/blocks/get_first_block_id_of_last_rounds.sql
Due: none

Delete a.md
  framework/src/modules/chain/components/storage/sql/blocks/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/components/storage/sql/migrations/updates/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/sql/migrations/updates/20190524120600_add_default_value_asset_mem_account.sql
Due: none

Delete a.md
  framework/src/modules/chain/components/storage/sql/migrations/updates/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/components/storage/sql/rounds/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/sql/rounds/check_snapshot_availability.sql
  framework/src/modules/chain/components/storage/sql/rounds/clear_round_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/clear_votes_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/count_round_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/create.sql
  framework/src/modules/chain/components/storage/sql/rounds/create_round_rewards.sql
  framework/src/modules/chain/components/storage/sql/rounds/delete.sql
  framework/src/modules/chain/components/storage/sql/rounds/delete_round_rewards.sql
  framework/src/modules/chain/components/storage/sql/rounds/get.sql
  framework/src/modules/chain/components/storage/sql/rounds/get_delegates_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/get_total_voted_amount.sql
  framework/src/modules/chain/components/storage/sql/rounds/is_persisted.sql
  framework/src/modules/chain/components/storage/sql/rounds/perform_round_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/perform_votes_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/restore_round_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/restore_votes_snapshot.sql
  framework/src/modules/chain/components/storage/sql/rounds/summed_round.sql
  framework/src/modules/chain/components/storage/sql/rounds/update.sql
  framework/src/modules/chain/components/storage/sql/rounds/update_one.sql
Due: none

Delete a.md
  framework/src/modules/chain/components/storage/sql/rounds/a.md
Due: prettier --write

Create a.md
  framework/src/modules/chain/components/storage/sql/transactions/a.md
Due: prettier --write

Add files via upload
  framework/src/modules/chain/components/storage/sql/transactions/create.sql
Due: none

Delete a.md
  framework/src/modules/chain/components/storage/sql/transactions/a.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
