Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create a.md
  .github/ISSUE_TEMPLATE/a.md
Due: prettier --write

Add files via upload
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: prettier --write

Delete a.md
  .github/ISSUE_TEMPLATE/a.md
Due: prettier --write

Create a.md
  commander/bin/a.md
Due: prettier --write

Add files via upload
  commander/bin/run
  commander/bin/run.cmd
Due: none

Delete a.md
  commander/bin/a.md
Due: prettier --write

Create a.md
  commander/src/commands/account/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/account/create.ts
  commander/src/commands/account/get.ts
  commander/src/commands/account/show.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/account/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/copyright.ts
  commander/src/commands/warranty.ts
Due: prettier --write, tslint --format verbose

Create a.md
  commander/src/commands/block/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/block/get.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/block/a.md
Due: prettier --write

Create a.md
  commander/src/commands/config/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/config/set.ts
  commander/src/commands/config/show.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/config/a.md
Due: prettier --write

Create a.md
  commander/src/commands/core/start/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/core/start/cache.ts
  commander/src/commands/core/start/database.ts
  commander/src/commands/core/start/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/core/start/a.md
Due: prettier --write

Create a.md
  commander/src/commands/core/stop/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/core/stop/cache.ts
  commander/src/commands/core/stop/database.ts
  commander/src/commands/core/stop/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/core/stop/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/core/install.ts
  commander/src/commands/core/logs.ts
  commander/src/commands/core/restart.ts
  commander/src/commands/core/status.ts
  commander/src/commands/core/uninstall.ts
  commander/src/commands/core/upgrade.ts
Due: prettier --write, tslint --format verbose

Create a.md
  commander/src/commands/delegate/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/delegate/get.ts
  commander/src/commands/delegate/voters.ts
  commander/src/commands/delegate/votes.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/delegate/a.md
Due: prettier --write

Create a.md
  commander/src/commands/message/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/message/decrypt.ts
  commander/src/commands/message/encrypt.ts
  commander/src/commands/message/sign.ts
  commander/src/commands/message/verify.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/message/a.md
Due: prettier --write

Create a.md
  commander/src/commands/node/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/node/forging.ts
  commander/src/commands/node/get.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/node/a.md
Due: prettier --write

Create a.md
  commander/src/commands/passphrase/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/passphrase/decrypt.ts
  commander/src/commands/passphrase/encrypt.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/passphrase/a.md
Due: prettier --write

Create a.md
  commander/src/commands/signature/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/signature/broadcast.ts
  commander/src/commands/signature/create.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/src/commands/signature/a.md
Due: prettier --write

Create a.md
  commander/src/commands/transaction/create/a.md
Due: prettier --write

Add files via upload
  commander/src/commands/transaction/create/delegate.ts
  commander/src/commands/transaction/create/multisignature.ts
  commander/src/commands/transaction/create/second-passphrase.ts
  commander/src/commands/transaction/create/transfer.ts
  commander/src/commands/transaction/create/vote.ts
Due: prettier --write, tslint --format verbose

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
