Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Delete a.md
  protocol-specs/generator_outputs/block_processing_transfers/a.md
Due: prettier --write

Create a.md
  protocol-specs/generator_outputs/transaction_signing/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generator_outputs/transaction_signing/valid_transaction_signing.json
Due: prettier --write

Delete a.md
  protocol-specs/generator_outputs/transaction_signing/a.md
Due: prettier --write

Create a.md
  protocol-specs/generators/address_generation/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generators/address_generation/README.md
  protocol-specs/generators/address_generation/index.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/generators/address_generation/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generators/base_generator.js
Due: prettier --write, eslint

Create a.md
  protocol-specs/generators/block_processing_second_signature/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generators/block_processing_second_signature/README.md
  protocol-specs/generators/block_processing_second_signature/index.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/generators/block_processing_second_signature/a.md
Due: prettier --write

Create a.md
  protocol-specs/generators/block_processing_transfers/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generators/block_processing_transfers/README.md
  protocol-specs/generators/block_processing_transfers/index.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/generators/block_processing_transfers/a.md
Due: prettier --write

Create a.md
  protocol-specs/generators/transaction_signing/a.md
Due: prettier --write

Add files via upload
  protocol-specs/generators/transaction_signing/README.md
  protocol-specs/generators/transaction_signing/index.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/generators/transaction_signing/a.md
Due: prettier --write

Create a.md
  protocol-specs/utils/blocks/a.md
Due: prettier --write

Add files via upload
  protocol-specs/utils/blocks/block.js
  protocol-specs/utils/blocks/block_rewards.js
  protocol-specs/utils/blocks/index.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/utils/blocks/a.md
Due: prettier --write

Create a.md
  protocol-specs/utils/dpos/a.md
Due: prettier --write

Add files via upload
  protocol-specs/utils/dpos/index.js
  protocol-specs/utils/dpos/rounds.js
Due: prettier --write, eslint

Delete a.md
  protocol-specs/utils/dpos/a.md
Due: prettier --write

Create a.md
  scripts/a.md
Due: prettier --write

Add files via upload
  scripts/.gitkeep
Due: none

Create a.md
  sdk/docs/assets/a.md
Due: prettier --write

Add files via upload
  sdk/docs/assets/banner_sdk.png
  sdk/docs/assets/diagram_sdk.png
Due: none

Delete a.md
  sdk/docs/assets/a.md
Due: prettier --write

Create a.md
  sdk/src/samples/a.md
Due: prettier --write

Add files via upload
  sdk/src/samples/config_devnet.json
  sdk/src/samples/genesis_block_devnet.json
  sdk/src/samples/index.js
Due: prettier --write, eslint

Delete a.md
  sdk/src/samples/a.md
Due: prettier --write

Add files via upload
  sdk/src/index.js
Due: prettier --write, eslint

Add files via upload
  sdk/.eslintignore
  sdk/.eslintrc.json
  sdk/.npmignore
  sdk/.npmrc
  sdk/.prettierignore
  sdk/.prettierrc.json
  sdk/README.md
  sdk/package-lock.json
  sdk/package.json
Due: prettier --write

Create a.md
  templates/browsertest.tmpl/a.md
Due: prettier --write

Add files via upload
  templates/browsertest.tmpl/browsertest.html
  templates/browsertest.tmpl/browsertest.min.html
  templates/browsertest.tmpl/run_tests.js
  templates/browsertest.tmpl/setup.js
Due: prettier --write, eslint

Delete a.md
  templates/browsertest.tmpl/a.md
Due: prettier --write

Add files via upload
  templates/.npmignore.tmpl
  templates/.npmrc.tmpl
  templates/.nycrc.tmpl
  templates/.prettierignore.tmpl
  templates/.prettierrc.json.tmpl
  templates/cypress.json.tmpl
  templates/package.json.tmpl
  templates/tsconfig.browsertest.json.tmpl
  templates/tsconfig.json.tmpl
  templates/tslint.json.tmpl
Due: none

Create a.md
  templates/cypress.tmpl/integration/a.md
Due: prettier --write

Add files via upload
  templates/cypress.tmpl/integration/index.js
Due: prettier --write, eslint

Delete a.md
  templates/cypress.tmpl/integration/a.md
Due: prettier --write
