Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

Create A.MD
  framework/test/mocha/unit/components/storage/entities/A.MD
Due: none

Add files via upload
  framework/test/mocha/unit/components/storage/entities/account.js
  framework/test/mocha/unit/components/storage/entities/base_entity.js
  framework/test/mocha/unit/components/storage/entities/block.js
  framework/test/mocha/unit/components/storage/entities/transaction.js
Due: prettier --write, eslint

Delete A.MD
  framework/test/mocha/unit/components/storage/entities/A.MD
Due: none

Create a.md
  framework/test/mocha/unit/components/storage/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/components/storage/utils/field.js
  framework/test/mocha/unit/components/storage/utils/filters.js
  framework/test/mocha/unit/components/storage/utils/inputSerializers.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/components/storage/utils/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/components/storage/storage.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/unit/controller/helpers/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/controller/helpers/validator.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/controller/helpers/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/blocks/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/blocks/block.js
  framework/test/mocha/unit/modules/chain/blocks/block_reward.js
  framework/test/mocha/unit/modules/chain/blocks/block_slots.js
  framework/test/mocha/unit/modules/chain/blocks/block_version.js
  framework/test/mocha/unit/modules/chain/blocks/blocks.js
  framework/test/mocha/unit/modules/chain/blocks/chain.js
  framework/test/mocha/unit/modules/chain/blocks/process.js
  framework/test/mocha/unit/modules/chain/blocks/utils.js
  framework/test/mocha/unit/modules/chain/blocks/verify.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/blocks/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/chain.fixtures.js
  framework/test/mocha/unit/modules/chain/chain.js
  framework/test/mocha/unit/modules/chain/forger.js
  framework/test/mocha/unit/modules/chain/peers.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/unit/modules/chain/common/helpers/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/common/helpers/peers.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/common/helpers/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/common/schema_dynamic_test.js
Due: prettier --write, eslint

Create a.md
  framework/test/mocha/unit/modules/chain/common/sql/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/common/sql/mem_accounts.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/common/sql/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/components/storage/entities/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/components/storage/entities/account.js
  framework/test/mocha/unit/modules/chain/components/storage/entities/block.js
  framework/test/mocha/unit/modules/chain/components/storage/entities/migration.js
  framework/test/mocha/unit/modules/chain/components/storage/entities/round.js
  framework/test/mocha/unit/modules/chain/components/storage/entities/transaction.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/components/storage/entities/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/init_steps/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/init_steps/bootstrap_cache.js
  framework/test/mocha/unit/modules/chain/init_steps/bootstrap_storage.js
  framework/test/mocha/unit/modules/chain/init_steps/create_bus.js
  framework/test/mocha/unit/modules/chain/init_steps/init_logic_structs.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/init_steps/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/interface_adapters/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/interface_adapters/transaction_interface_adapter.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/interface_adapters/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/logic/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/logic/account.js
  framework/test/mocha/unit/modules/chain/logic/process_transactions.js
  framework/test/mocha/unit/modules/chain/logic/round.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/logic/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/sql/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/sql/mem_accounts_protection.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/sql/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/submodules/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha/unit/modules/chain/submodules/app.js
  framework/test/mocha/unit/modules/chain/submodules/delegates.js
  framework/test/mocha/unit/modules/chain/submodules/loader.skeleton.js
  framework/test/mocha/unit/modules/chain/submodules/rounds.js
Due: prettier --write, eslint

Delete a.md
  framework/test/mocha/unit/modules/chain/submodules/a.md
Due: prettier --write

Create a.md
  framework/test/mocha/unit/modules/chain/transaction_pool/a.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.js
  tslint --format verbose: any of: *.ts
