Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Delete config.json
  framework/test/fixtures/config/mainnet/config.json
Due: prettier --write

Add files via upload
  framework/test/fixtures/config/mainnet/config.json
  framework/test/fixtures/config/mainnet/genesis_block.json
Due: prettier --write

Delete a.md
  framework/test/fixtures/config/mainnet/a.md
Due: prettier --write

Add files via upload
  framework/test/mocha.opts
Due: none

Create a.md
  framework/test/jest/config/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/config/jest.config.base.js
  framework/test/jest/config/setup.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/config/a.md
Due: prettier --write

Create a.md
  framework/test/jest/functional/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/functional/jest.config.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/functional/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/.eslintrc.json
Due: prettier --write

Create a.md
  framework/test/jest/integration/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/jest.config.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/controller/helpers/validator/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/controller/helpers/validator/validator.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/controller/helpers/validator/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/in_memory_channel.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/integration/specs/modules/chain/blocks/blocks/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/blocks/blocks/on_receive_block.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/blocks/blocks/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/blocks/block_version.spec.js
  framework/test/jest/integration/specs/modules/chain/blocks/util.spec.js
  framework/test/jest/integration/specs/modules/chain/blocks/verify.spec.js
Due: prettier --write, eslint

Create a.m
  framework/test/jest/integration/specs/modules/chain/blocks/chain/a.m
Due: none

Add files via upload
  framework/test/jest/integration/specs/modules/chain/blocks/chain/apply_block.spec.js
  framework/test/jest/integration/specs/modules/chain/blocks/chain/delete_last_block_multiple_transactions.spec.js
  framework/test/jest/integration/specs/modules/chain/blocks/chain/delete_last_block_single_transaction.spec.js
  framework/test/jest/integration/specs/modules/chain/blocks/chain/pop_last_block.spec.js
Due: prettier --write, eslint

Delete a.m
  framework/test/jest/integration/specs/modules/chain/blocks/chain/a.m
Due: none

Add files via upload
  framework/test/jest/integration/specs/modules/chain/app.spec.js
  framework/test/jest/integration/specs/modules/chain/dependencies.spec.js
  framework/test/jest/integration/specs/modules/chain/genesis_block.spec.js
  framework/test/jest/integration/specs/modules/chain/matcher.spec.js
  framework/test/jest/integration/specs/modules/chain/rebuilding.spec.js
  framework/test/jest/integration/specs/modules/chain/rounds.spec.js
  framework/test/jest/integration/specs/modules/chain/synchronous_tasks.spec.js
Due: prettier --write, eslint

Create a.md
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/first_round.spec.js
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/full_two_rounds.spec.js
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/more_than_two_rounds.spec.js
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/valid_chain_full_round.spec.js
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/valid_chain_partial_round.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/loader/validate_own_chain/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/scenarios/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/scenarios/address_collision.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/duplicate_signatures.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/null_byte.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/recipient_id_exceeding_uint_64.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/recipient_id_leading_zero.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/total_spending_check.spec.js
  framework/test/jest/integration/specs/modules/chain/scenarios/votes_collision.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/scenarios/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/state_store/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/state_store/account_store.spec.js
  framework/test/jest/integration/specs/modules/chain/state_store/round_store.spec.js
  framework/test/jest/integration/specs/modules/chain/state_store/transaction_store.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/state_store/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/transaction_pool/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transaction_pool/unconfirmed_transactions.spec.js
Due: prettier --write, eslint

Delete a.md
  framework/test/jest/integration/specs/modules/chain/transaction_pool/a.md
Due: prettier --write

Create a.md
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/a.md
Due: prettier --write

Add files via upload
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/1_1_second_signature.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/1_1_second_signature_from_pool_peer.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/1_X_second_signature_unconfirmed.spec.js
  framework/test/jest/integration/specs/modules/chain/transactions/1_second_signature/1_X_second_signature_validated.spec.js
Due: prettier --write, eslint
