Repository VakinduPhilliam/Blockchain_SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tslint --format verbose

.lintstagedrc.json:

{
	"*.js": ["prettier --write", "eslint", "git add"],
	"*.ts": ["prettier --write", "tslint --format verbose", "git add"],
	"*.{json,md}": ["prettier --write", "git add"]
}

Add files via upload
  commander/test/README.md
  commander/test/_global_hooks.ts
  commander/test/mocha.opts
  commander/test/setup.ts
  commander/test/tsconfig.json
  commander/test/tslint.json
Due: prettier --write, tslint --format verbose

Create a.md
  commander/test/helpers/a.md
Due: prettier --write

Add files via upload
  commander/test/helpers/utils.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/test/helpers/a.md
Due: prettier --write

Create a.md
  commander/test/utils/core/a.md
Due: prettier --write

Add files via upload
  commander/test/utils/core/cache.ts
  commander/test/utils/core/commons.ts
  commander/test/utils/core/config.ts
  commander/test/utils/core/database.ts
  commander/test/utils/core/fixtures.ts
  commander/test/utils/core/pm2.ts
  commander/test/utils/core/release.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/test/utils/core/a.md
Due: prettier --write

Add files via upload
  commander/test/utils/api.ts
  commander/test/utils/base.ts
  commander/test/utils/config.ts
  commander/test/utils/constants.ts
  commander/test/utils/cryptography.ts
  commander/test/utils/download.ts
  commander/test/utils/error.ts
  commander/test/utils/fs.ts
  commander/test/utils/helpers.ts
  commander/test/utils/mnemonic.ts
  commander/test/utils/print.ts
  commander/test/utils/query.ts
  commander/test/utils/tablify.ts
  commander/test/utils/transactions.ts
  commander/test/utils/worker-process.ts
Due: prettier --write, tslint --format verbose

Create a.md
  commander/test/utils/input/a.md
Due: prettier --write

Add files via upload
  commander/test/utils/input/index.ts
  commander/test/utils/input/utils.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/test/utils/input/a.md
Due: prettier --write

Create a.md
  commander/types/cli-table3/a.md
Due: prettier --write

Add files via upload
  commander/types/cli-table3/index.d.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  commander/types/cli-table3/a.md
Due: prettier --write

Create a.md
  docs/assets/a.md
Due: prettier --write

Add files via upload
  docs/assets/banner_commander.png
  docs/assets/banner_elements.png
  docs/assets/banner_framework.png
  docs/assets/banner_sdk.png
  docs/assets/diagram_sdk.png
Due: none

Delete a.md
  docs/assets/a.md
Due: prettier --write

Add files via upload
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Create a.md
  elements/lisk-api-client/src/resources/a.md
Due: prettier --write

Add files via upload
  elements/lisk-api-client/src/resources/accounts.ts
  elements/lisk-api-client/src/resources/blocks.ts
  elements/lisk-api-client/src/resources/dapps.ts
  elements/lisk-api-client/src/resources/delegates.ts
  elements/lisk-api-client/src/resources/index.ts
  elements/lisk-api-client/src/resources/node.ts
  elements/lisk-api-client/src/resources/peers.ts
  elements/lisk-api-client/src/resources/signatures.ts
  elements/lisk-api-client/src/resources/transactions.ts
  elements/lisk-api-client/src/resources/voters.ts
  elements/lisk-api-client/src/resources/votes.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-api-client/src/resources/a.md
Due: prettier --write

Add files via upload
  elements/lisk-api-client/src/api_client.ts
  elements/lisk-api-client/src/api_method.ts
  elements/lisk-api-client/src/api_resource.ts
  elements/lisk-api-client/src/api_types.ts
  elements/lisk-api-client/src/constants.ts
  elements/lisk-api-client/src/errors.ts
  elements/lisk-api-client/src/index.ts
  elements/lisk-api-client/src/utils.ts
Due: prettier --write, tslint --format verbose

Create a.md
  elements/lisk-api-client/test/resources/a.md
Due: prettier --write

Add files via upload
  elements/lisk-api-client/test/resources/accounts.ts
  elements/lisk-api-client/test/resources/blocks.ts
  elements/lisk-api-client/test/resources/dapps.ts
  elements/lisk-api-client/test/resources/delegates.ts
  elements/lisk-api-client/test/resources/node.ts
  elements/lisk-api-client/test/resources/peers.ts
  elements/lisk-api-client/test/resources/signatures.ts
  elements/lisk-api-client/test/resources/transactions.ts
  elements/lisk-api-client/test/resources/voters.ts
  elements/lisk-api-client/test/resources/votes.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-api-client/test/resources/a.md
Due: prettier --write

Add files via upload
  elements/lisk-api-client/test/_global_hooks.ts
  elements/lisk-api-client/test/_setup.ts
  elements/lisk-api-client/test/api_client.ts
  elements/lisk-api-client/test/api_method.ts
  elements/lisk-api-client/test/api_resource.ts
  elements/lisk-api-client/test/constants.ts
  elements/lisk-api-client/test/errors.ts
  elements/lisk-api-client/test/index.ts
  elements/lisk-api-client/test/mocha.opts
  elements/lisk-api-client/test/tsconfig.json
  elements/lisk-api-client/test/tslint.json
  elements/lisk-api-client/test/utils.ts
Due: prettier --write, tslint --format verbose

Add files via upload
  elements/lisk-api-client/.npmignore
  elements/lisk-api-client/.npmrc
  elements/lisk-api-client/.nycrc
  elements/lisk-api-client/.prettierignore
  elements/lisk-api-client/.prettierrc.json
  elements/lisk-api-client/LICENSE
  elements/lisk-api-client/README.md
  elements/lisk-api-client/browsertest
  elements/lisk-api-client/cypress
  elements/lisk-api-client/cypress.json
  elements/lisk-api-client/package-lock.json
  elements/lisk-api-client/package.json
  elements/lisk-api-client/scripts
  elements/lisk-api-client/tsconfig.browsertest.json
  elements/lisk-api-client/tsconfig.json
  elements/lisk-api-client/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-client/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-client/src/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-client/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-client/.npmignore
  elements/lisk-client/.npmrc
  elements/lisk-client/.nycrc
  elements/lisk-client/.prettierignore
  elements/lisk-client/.prettierrc.json
  elements/lisk-client/README.md
  elements/lisk-client/browsertest
  elements/lisk-client/cypress
  elements/lisk-client/cypress.json
  elements/lisk-client/index.html
  elements/lisk-client/package-lock.json
  elements/lisk-client/package.json
  elements/lisk-client/scripts
  elements/lisk-client/tsconfig.browsertest.json
  elements/lisk-client/tsconfig.json
  elements/lisk-client/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-client/test/a.md
Due: prettier --write

Add files via upload
  elements/lisk-client/test/_setup.ts
  elements/lisk-client/test/index.ts
  elements/lisk-client/test/mocha.opts
  elements/lisk-client/test/tsconfig.json
  elements/lisk-client/test/tslint.json
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-client/test/a.md
Due: prettier --write

Add files via upload
  elements/README.md
Due: prettier --write

Create a.md
  elements/lisk-constants/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-constants/src/index.ts
Due: prettier --write, tslint --format verbose

Delete a.md
  elements/lisk-constants/src/a.md
Due: prettier --write

Add files via upload
  elements/lisk-constants/.gitignore
  elements/lisk-constants/.npmignore
  elements/lisk-constants/.npmrc
  elements/lisk-constants/.nycrc
  elements/lisk-constants/.prettierignore
  elements/lisk-constants/.prettierrc.json
  elements/lisk-constants/LICENSE
  elements/lisk-constants/README.md
  elements/lisk-constants/browsertest
  elements/lisk-constants/cypress
  elements/lisk-constants/cypress.json
  elements/lisk-constants/package-lock.json
  elements/lisk-constants/package.json
  elements/lisk-constants/scripts
  elements/lisk-constants/tsconfig.browsertest.json
  elements/lisk-constants/tsconfig.json
  elements/lisk-constants/tslint.json
Due: prettier --write

Create a.md
  elements/lisk-constants/test/a.md
Due: prettier --write
